@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Baumans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #f857a6;
  --second-color: #ff5858;
}


.baumans-regular {
  font-family: "Baumans", serif;
  font-weight: 400;
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.glass-morph-effect {
  background: #ffffffb5;
  box-shadow: 0 8px 32px #1f26875e;
  backdrop-filter: blur(117px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid #ffffff2e;
}

.custom-border-radius {
  border-radius: 30px 0px 30px 0px;
}

.rounded-tl-br-30 {
  border-radius: 30px 0px 30px 0;
}

.text-stroke-primary {
  color: #018380;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #018380;
}

.text-stroke-primary-m {
  color: #018380;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #018380;
}

.plan-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  /* Default for small screens (phone) */
}

@media (min-width: 600px) {

  /* Tablet */
  .plan-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
  }
}

@media (min-width: 1024px) {

  /* Laptop-small */
  .plan-grid {
    grid-template-columns: repeat(3, 1fr);
    /* 3 columns */
  }
}

@media (min-width: 1440px) {

  /* Laptop-large */
  .plan-grid {
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
  }
}

/* Sheen Effect */
.sheen::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom,
      rgba(229, 172, 142, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

/* Activate the sheen effect when hovered */
.sheen:hover::after,
button:focus::after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

.cta-button,
.cta-text,
video,
h5,
p {
  opacity: 1;
  /* Initially, they are invisible */
  transition: opacity 0.3s ease-out;
}

/* Add to your global styles or the component-specific CSS */
.hover\:shadow-3d:hover {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Inset shadow for 3D effect */
  transform: translateY(-4px);
  /* Lift effect on hover */
}

.hover\:transform:hover {
  transform: translateY(-4px) scale(1.05);
  /* Slightly lift and scale the component */
}

.transition-all {
  transition: all 0.3s ease-in-out;
  /* Smooth transition for transform and shadow */
}

/* Keyframes for fade-in animation */
@keyframes heartRateIn {
  0% {
    width: 100%;
  }

  50% {
    width: 0;
  }

  100% {
    width: 0;
  }
}

/* Keyframes for fade-out animation */
@keyframes heartRateOut {
  0% {
    right: -120%;
  }

  30% {
    right: -120%;
  }

  100% {
    right: 0;
  }
}

/* Disable scrolling */
.no-scroll {
  overflow: hidden;
}

/* Enable scrolling */
.scroll-enabled {
  overflow: auto;
}

/* Fade-in and Scale-up animation */
@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  75% {
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply animation to the tagline */
.animate-fade-in-scale {
  animation: fade-in-scale 3s ease-out;
}

/* Main container */
.spl-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #018380;
  /* bg-primary */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.spl-loader-container.loaded {
  opacity: 0;
  pointer-events: none;
}

/* Logo wrapper */
.spl-logo-wrapper {
  text-align: center;
  position: relative;
}

/* Logo styling */
.spl-logo {
  display: block;
  margin: 0 auto;
  animation: spl-fadeInLogo 1.5s ease-in-out forwards;
}

@keyframes spl-fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(2);
  }
}

/* Tagline text styling */
.spl-tagline-text {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  opacity: 0;
  animation: spl-fadeInTagline 2s ease-in-out 1.5s forwards;
  /* Delayed to start after logo fades in */
}

@keyframes spl-fadeInTagline {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Coming from above */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Settles in position */
  }
}

/* General styles for the container */
.heart-rate {
  position: relative;
  margin: 20px auto;
}

/* Fade-in animation */
.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #018380;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

/* Fade-out animation */
.fade-out {
  position: absolute;
  width: 120%;
  /* Adjusted width to ensure animation space */
  height: 100%;
  background-color: #018380;
  top: 0;
  right: -120%;
  animation: heartRateOut 2.5s linear infinite;
}

/* External CSS */
.flip-card {
  perspective: 1000px;
  /* Enables 3D effect */
  width: 100%;
  /* Ensure it fills the container */
  height: 250px;
  /* Ensure it fills the container */
}

.flip-card-inner {
  position: relative;
  /* Ensure inner content is positioned relative */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  /* Necessary for 3D transformations */
  transition: transform 0.6s ease-in-out;
  /* Smooth transition for flip */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  /* Rotate 180 degrees on hover */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Hide the mirrored back face */
  display: flex;
  /* Make sure content is aligned correctly */
  justify-content: center;
  /* Center the content */
  align-items: center;
  /* Center the content */
}

.flip-card-front {
  z-index: 2;
  /* Ensure front is on top */
}

.flip-card-back {
  transform: rotateY(180deg);
  /* Flip the back face */
  z-index: 1;
  /* Ensure back is behind front face */
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}


/* Play button youtube */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.button-outer-circle {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.triangle {
  animation: fadeIn 7s ease;
}

.path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s ease;
}

.has-scale-animation {
  animation: smallScale 3s infinite;
}

.has-delay-short {
  animation-delay: 0.5s;
}

/* Play button youtube */