@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}



.glass-morph-effect {
  background: #ffffffb5;
  box-shadow: 0 8px 32px #1f26875e;
  backdrop-filter: blur(117px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid #ffffff2e;
}


.custom-border-radius {
  border-radius: 30px 0px 30px 0px;
}

.rounded-tl-br-30 {
  border-radius: 30px 0px 30px 0;
}

.text-stroke-primary {
  color: #018380;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #018380;
}