

.swiper{
    overflow: visible!important;
}

.swiper-pagination{
    bottom: -25px!important;
}

.swiper-pagination-bullet{
    width: 10px!important;
    height: 10px!important;
    background-color: #018380!important;
}

